/* * input,
* select {
  border: none;
  box-shadow: inset 0px 0px 3px 1.5px rgb(169, 166, 166),
    0px 0px 1.5px 1px rgb(168, 166, 166);
  margin: 5px;
  border-radius: 5px;
}

* input:hover,
* select:hover {
  scale: 1.01;
  border: none;
  box-shadow: inset 0px 0px 3px 1.5px rgb(169, 166, 166),
    0px 0px 3px 2px rgb(168, 166, 166);
  margin: 7px;
  border-radius: 5px;
} */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  font-family: "New Rocker", system-ui;
  /* font-family: "Gaegu", sans-serif; */
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbar-outline {
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.searchbar {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 1%;
  margin-bottom: 1%;
}

.searchbar label {
  background: linear-gradient(to top right, #b4d7e4 0%, #0a66cf 64%);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}

.searchbar label:hover {
  background: linear-gradient(to top right, #e4c2ad 0%, rgb(253, 78, 48) 64%);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  box-sizing: border-box;
  transition: background ease 0.5s;
}

.searchbar span {
  background: linear-gradient(to top right, #b4d7e4 0%, #0a66cf 64%);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  margin-left: -19%;
  margin-right: 12%;
  font-size: 24px;
  box-sizing: border-box;
}

.searchbar-input {
  position: relative;
  margin: 5px;
  height: 95%;
  width: 35%;
  padding-left: 0.5%;
  box-sizing: border-box;
  border: none;
  /* box-shadow: inset 0px 0px 3px 1.5px rgb(169, 166, 166); */
  box-shadow: 0px 0px 1.5px 1px rgb(168, 166, 166);
  margin: 5px;
  border-radius: 5px;
}

.searchbar-input:hover {
  border: none;
  box-shadow: inset 0px 0px 1.2px 0.5px rgb(169, 166, 166),
    0px 0px 3px 2px rgb(168, 166, 166);
  border-radius: 5px;
  box-sizing: border-box;
}

.searchbar-input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px 1.5px rgb(49, 128, 224);
  border-radius: 5px;
  transition: box-shadow 1s ease;
}

.search-btn {
  height: 90%;
  width: 3%;
  scale: 1.15;
  margin-left: 0.3%;
  background-color: white;
  border: none;
  border-radius: 5px;
  /* .fa-solid.fa-magnifying-glass {
    background-color: white;
  } */
  box-sizing: border-box;
  img {
    height: 100%;
    width: 100%;
    background: white;
    content: url("/images/searchIcon.png");
    border-radius: 5px;
    transition: content 0.2s ease;
  }
}

.search-btn:hover {
  scale: 1.3;
  background-color: rgb(255, 255, 255);
  /* .fa-solid.fa-magnifying-glass {
    color: rgb(253, 78, 48);
    transition: color 0.3s ease;
  } */
  box-sizing: border-box;
  img {
    height: 100%;
    width: 100%;
    content: url("/images/searching2.png");
    background: white;
    border-radius: 5px;
  }
}

.filters-outline {
  height: 70%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.filters-outline button {
  margin: 5px;
  font-family: "Gaegu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  border: none;
  /* font-style: italic; */
}

.filters-outline button:hover {
  color: tomato;
  transition: color 0.4s ease;
}

.movies-container-outline {
  height: 73%;
  width: 100%;
  margin-top: 1%;
  padding: 1%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.movies-container-outline.movies-container-noerror-outline {
  flex-direction: row;
  justify-content: flex-start;
}

.movies-container-outline.movies-container-error-outline {
  flex-direction: column;
  justify-content: center;
  color: #cf1512;
  align-items: center;
  font-size: xx-large;
  font-style: normal;
  font-weight: 400;
}

.movies-container-outline::-webkit-scrollbar {
  width: 0px;
}

.movies-outline {
  margin: 1%;
  height: 45%;
  width: 12%;
  box-shadow: 0px 0px 1.5px 1px rgb(168, 166, 166);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.movies-outline:hover {
  scale: 1.01;
  box-shadow: 0px 0px 3px 3px rgb(168, 166, 166);
  border: none;
}

.moviesImage {
  text-align: center;
  width: 100%;
  height: 80%;
  padding: 3%;
  box-sizing: border-box;
}

.movieSpan {
  height: 18%;
  width: 85%;
  font-size: 12px;
  padding: 1px;
  font-weight: 400;
  line-height: -1.5px;
  /* text-transform: uppercase; */
  /* font-style: bold; */
  /* font-family: "Akronim", system-ui; */
  /* font-family: "Codystar", sans-serif; */
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* align-self: flex-end; */
}

.nextPage {
  height: 7%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 400;
}

.nextPage span {
  margin-left: 1%;
  margin-right: 1%;
  font-size: 12px;
  letter-spacing: 1.1px;
}

.nextPage .pages:hover {
  color: rgb(253, 78, 48);
  transition: color 0.5s ease;
}

.clicked {
  color: rgb(253, 78, 48);
  transition: color 0.5s ease;
}

.unclicked {
  color: black;
  transition: color 0.5s ease;
}

.popup-active {
  z-index: 1;
  position: absolute;
  display: block;
  width: 30%;
  height: 90%;
  background-color: white;
  box-shadow: 0px 0px 3px 2px grey;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.popup-inactive {
  display: none;
}

.close-btn {
  align-self: flex-start;
  margin: 4px;
  margin-left: 8px;
  width: 7%;
  height: 7%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.fa-regular.fa-circle-xmark.fa-2xl {
  color: black;
}

.fa-regular.fa-circle-xmark.fa-2xl:hover {
  color: red;
}

.h1-Title.noerror-outline {
  width: 100%;
  height: 10%;
  padding: 2px;
  background: linear-gradient(to right, #cf72cf 0%, #6e94ff 40%, #cf1512 100%);
  background-clip: text;
  color: transparent;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: 1.1px;
  font-weight: 700;
  text-transform: uppercase;
}
.h1-Title.error-outline {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-active .moviePoster {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.popup-active .spanTagClass {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.popup-active .spanTag {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  padding: 2.5px;
  padding-left: 5px;
  box-sizing: border-box;
}

.popup-active .spanTag.SpanTagTitle {
  align-self: center;
  font-size: 14px;
  color: #cf1512;
}

.cursor-active {
  pointer-events: auto;
}

.cursor-inactive {
  pointer-events: none;
}

@media only screen and (max-width: 930px) {
  .searchbar {
    height: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .filters-outline {
    height: 75%;
  }
  .filters-outline button {
    font-size: 14px;
  }
  .movies-container-outline {
    height: 73%;
  }
  .movies-outline {
    margin: 1%;
    height: 46%;
    width: 18%;
  }
  .moviesImage {
    height: 80%;
    padding: 3%;
    box-sizing: border-box;
  }
  .movieSpan {
    height: 20%;
    width: 90%;
    font-size: 11px;
    padding: 1px;
    line-height: -2px;
  }
  .popup-active {
    width: 35%;
    height: 85%;
  }
  .h1-Title.noerror-outline {
    height: 10%;
    margin: 2px;
    font-size: 22px;
    letter-spacing: 1.1px;
    font-weight: 700;
  }
  .popup-active .moviePoster {
    width: 60%;
    height: 50%;
    margin: 3px;
    margin-top: -7px;
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 830px) {
  .searchbar {
    height: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .searchbar label {
    font-size: 16px;
    font-weight: 400;
    margin-right: 8px;
  }
  .searchbar span {
    margin-left: -12%;
    margin-right: 8%;
    font-size: 24px;
    box-sizing: border-box;
  }
  .searchbar-input {
    position: relative;
    margin: 5px;
    height: 95%;
    width: 30%;
    padding-left: 0.5%;
    margin: 5px;
  }
  .search-btn {
    height: 100%;
    width: 4%;
    scale: 1.15;
    margin-left: 0.3%;
  }
  .filters-outline {
    height: 80%;
  }
  .filters-outline button {
    margin: 2px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 730px) {
  .searchbar {
    height: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .searchbar label {
    font-size: 15px;
    font-weight: 400;
    margin-right: 8px;
  }
  .searchbar span {
    margin-left: -5%;
    margin-right: 5%;
    font-size: 18px;
    box-sizing: border-box;
  }
  .searchbar-input {
    position: relative;
    margin: 5px;
    height: 95%;
    width: 30%;
    padding-left: 0.5%;
    margin: 5px;
  }
  .search-btn {
    height: 90%;
    width: 5%;
    scale: 1.15;
    margin-left: 0.3%;
  }
  .filters-outline {
    height: 70%;
    width: 100%;
    padding: 1px;
    justify-content: center;
    align-items: flex-start;
  }
  .filters-outline button {
    height: 30%;
    margin: 0.5px;
    font-size: 12px;
  }
  .movies-container-outline {
    height: 73%;
  }
  .movies-outline {
    margin: 1%;
    height: 47%;
    width: 23%;
  }
  .moviesImage {
    height: 80%;
    padding: 3%;
    box-sizing: border-box;
  }
  .movieSpan {
    height: 20%;
    width: 90%;
    font-size: 11px;
    padding: 1px;
    line-height: -2px;
  }
  .popup-active {
    width: 40%;
    height: 75%;
  }
  .h1-Title.noerror-outline {
    height: 10%;
    margin: 2px;
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 700;
  }
  .popup-active .moviePoster {
    width: 50%;
    height: 50%;
    margin: 3px;
    margin-top: -7px;
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 650px) {
  .searchbar {
    height: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .searchbar label {
    font-size: 13px;
    font-weight: 400;
    margin-right: 8px;
  }
  .searchbar span {
    margin-left: -15%;
    margin-right: 5%;
    font-size: 18px;
    box-sizing: border-box;
  }
  .searchbar-input {
    position: relative;
    margin: 5px;
    height: 70%;
    width: 30%;
    padding-left: 0.5%;
    margin: 5px;
  }
  .search-btn {
    height: 70%;
    width: 5%;
    scale: 1.15;
    margin-left: 0.3%;
  }
  .filters-outline {
    height: 65%;
    width: 100%;
  }
  .filters-outline button {
    height: 25%;
    font-size: 12px;
    margin: 0px;
  }
  .movies-container-outline {
    height: 73%;
  }
  .movies-outline {
    margin: 1%;
    height: 47%;
    width: 23%;
  }
  .moviesImage {
    height: 80%;
    padding: 3%;
    box-sizing: border-box;
  }
  .movieSpan {
    height: 20%;
    width: 90%;
    font-size: 12px;
    padding-top: 8px;
    line-height: normal;
  }
  .popup-active {
    width: 43%;
    height: 75%;
  }
  .h1-Title.noerror-outline {
    height: 15%;
    margin: 4px;
    font-size: 14px;
    letter-spacing: 1.1px;
    font-weight: 700;
  }
  .popup-active .moviePoster {
    width: 60%;
    height: 50%;
    margin: 3px;
    margin-top: -7px;
    margin-bottom: 7px;
  }
  .popup-active .spanTagClass {
    width: 100%;
    height: 25%;
  }
  .popup-active .spanTag {
    margin-top: 5px;
    font-size: 10px;
    padding: 2.5px;
    padding-left: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .searchbar {
    height: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .searchbar label {
    font-size: 13px;
    font-weight: 400;
    margin-right: 8px;
  }
  .searchbar label:hover {
    font-size: 13px;
    font-weight: 400;
    margin-right: 8px;
  }
  .searchbar span {
    margin-left: -15%;
    margin-right: 5%;
    font-size: 14px;
  }
  .searchbar-input {
    margin: 5px;
    height: 50%;
    width: 37%;
    padding-left: 0.5%;
    margin: 5px;
  }
  .search-btn {
    height: 60%;
    width: 7%;
    scale: 1.15;
    margin-left: 0.3%;
  }
  .filters-outline {
    height: 65%;
    width: 100%;
  }
  .filters-outline button {
    height: 30%;
    font-size: 12px;
  }
  .movies-container-outline {
    height: 73%;
  }
  .movies-outline {
    margin: 1%;
    height: 48%;
    width: 30%;
  }
  .moviesImage {
    height: 80%;
    padding: 3%;
    box-sizing: border-box;
  }
  .movieSpan {
    height: 20%;
    width: 90%;
    font-size: 12px;
    padding-top: 8px;
    line-height: normal;
  }
  .popup-active {
    width: 50%;
    height: 75%;
  }
  .h1-Title.noerror-outline {
    height: 15%;
    margin: 4px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .popup-active .moviePoster {
    width: 65%;
    height: 50%;
    margin: 3px;
    margin-top: -15px;
    margin-bottom: 7px;
  }
  .popup-active .spanTagClass {
    width: 100%;
    height: 25%;
  }
  .popup-active .spanTag {
    margin-top: 5px;
    font-size: 10px;
    padding: 2.5px;
    padding-left: 5px;
  }
  .nextPage {
    height: 7%;
    width: 100%;
  }
  .nextPage span {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 10px;
    letter-spacing: 1.1px;
  }
}
